main {
    max-width: 840px;
    width: 100%;
    min-height: 100vh;
    border-left: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
    margin: 0 auto;
    position: relative;
    background: rgba(0, 0, 0, .05);
    padding-top: 125px;
    color: #965e37;
}

.home-page .card-body>h4,
.results-page .card-body>h4 {
    font-weight: bold;
}

.inbox-page a h5,
.inbox-page a:hover h5 {
    font-weight: bold;
    color: #965e37 !important;
}

.inbox-page a:hover h5 {
    text-decoration: underline !important;
}

.has-footer main {
    margin-bottom: 59px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1071;
    width: 100vw;
    max-width: 840px;
    background: white !important;
    padding: 5px;
    border-top: 1px solid #ced4da;
    border-left: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
}

a,
.text-primary,
.modal-title {
    color: #965e37 !important;
}

.text-muted {
    color: rgba(150, 94, 55, .75) !important;
}

.btn:not(a),
.btn-secondary {
    color: #fff !important;
}

.btn.focus,
.btn:focus,
.custom-select:focus,
.custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 .2rem rgba(150, 94, 55, .25) !important;
}

.custom-select:focus,
.custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: #965e37 !important;
}

.btn-primary {
    color: #fff !important;
    background-color: rgba(150, 94, 55, .95) !important;
    border-color: rgba(150, 94, 55, .95) !important;
}

.btn-primary:hover,
.custom-control-input:checked~.custom-control-label::before {
    background-color: #965e37 !important;
    border-color: #965e37 !important;
}

#secondary-nav {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    max-width: 840px;
    height: 60px;
    position: fixed;
    top: 63px;
    left: 0;
    background: #fff;
    z-index: 1071;
    border-bottom: 1px solid #ced4da;
    border-left: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
}

#secondary-nav a {
    min-width: calc((100% - 6px) / 4);
    max-width: calc((100% - 6px) / 4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    /*text-transform: uppercase;*/
    font-weight: bold;
}

#secondary-nav a>svg {
    font-size: 26px;
}

#secondary-nav a.active-item,
.dropdown-item.item-active,
.dropdown-item:active {
    background: #965e37 !important;
    color: #fff !important;
}

.dropdown-item.item-active {
    pointer-events: none;
}

#secondary-nav a:hover {
    text-decoration: none !important;
}

#secondary-nav a:not(.active-item):hover {
    background: rgba(0, 0, 0, .05) !important;
}

#side-nav,
#main-nav {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 840px;
}

#main-nav {
    width: 100%;
    z-index: 1071;
    border-bottom: 1px solid #ced4da;
    border-left: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
    padding: 2px 1rem !important;
    background: #fff !important;
}

#right-nav a {
    font-size: 2em;
}

#open-nav,
#close-nav {
    cursor: pointer;
}

.sidenav {
    height: 100vh;
    width: 0;
    z-index: 99999;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: rgba(255, 255, 255, 1);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
    padding: 0 25px;
    color: #FFFFFF;
    z-index: 9;
}

.sidenav form {
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9;
}

.sidenav .form-control::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

#main {
    padding: 20px 0 0;
}


.custom-bootstrap-slider {
    padding: 10px;
}

.custom-bootstrap-slider .slider {
    width: 100% !important;
}

.custom-bootstrap-slider .slider-selection {
    background-color: #9B6641 !important;
    box-shadow: none !important;
    border: 1px solid #ced4da;
    background-image: none !important;
}

.slider-track-low, .slider-track-high {
    background: white !important;
    border: 1px solid #ced4da !important;
}

.custom-bootstrap-slider .slider-handle,
.custom-bootstrap-slider .tooltip-inner {
    background-image: none !important;
    background-color: #965e37 !important;
}

.custom-bootstrap-slider .bs-tooltip-auto[x-placement^="top"] .arrow::before,
.custom-bootstrap-slider .bs-tooltip-top .arrow::before {
    border-top-color: #965e37 !important;
}

.notifications {
    position: relative;
}

.notifications[data-id="0"] .notifications-badge {
    display: none;
}

.notifications[data-id="0"] .notifications-badge::before {
    content: '0';
}

.notifications[data-id="1"] .notifications-badge::before {
    content: '1';
}

.notifications[data-id="2"] .notifications-badge::before {
    content: '2';
}

.notifications[data-id="3"] .notifications-badge::before {
    content: '3';
}

.card:not([data-status="accepted"]) .data-status-accept,
.card:not([data-status="rejected"]) .data-status-reject,
.card:not([data-status="na"]) button {
    display: none;
}

.notifications-page .card.btn {
    cursor: default !important;
}

.undo-status {
    cursor: pointer;
}

.notifications-badge {
    position: absolute;
    top: -1px;
    left: 17px;
    z-index: 99;
    color: #fff;
    background-color: #6c757d;
    width: 26px;
    height: 26px;
    font-size: 14px;
    text-align: center;
    line-height: 26px;
    font-weight: bold;
    border-radius: 50%;
}

#datetimepicker .ui-datepicker {
    margin: 0 auto;
    width: 100%;
}

#datetimepicker .ui-state-highlight,
#datetimepicker .ui-widget-content .ui-state-highlight,
#datetimepicker .ui-widget-header .ui-state-highlight {
    border: 1px solid #965e37;
    background: rgba(150, 94, 55, .5);
    color: #fff !important;
}

.ui-state-active,
.ui-widget-content .ui-state-active {
    background: rgb(150, 94, 55) !important;
    border-color: rgb(150, 94, 55) !important;
    color: #fff !important;
}

#places,
.ui-widget-header,
.ui-datepicker-calendar>thead {
    color: rgb(150, 94, 55) !important;
}

#places {
    border-color: rgb(150, 94, 55) !important;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
}

.dogtail {
    border-radius: 50%;
    border: 5px solid #965e37;
    width: 85px;
    height: 85px;
    display: block;
    overflow: hidden;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    -webkit-animation: heightlight 3s infinite ease-in;
    animation: heightlight 3s infinite ease-in;
}

.jiggly-tail {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    -webkit-animation: jiggle 3s infinite ease-in;
    animation: jiggle 3s infinite ease-in;
}

.undo-playdate-alert {
    width: calc(100% - 20px);
    max-width: 820px;
    position: fixed;
    z-index: 1071;
    bottom: 10px;
    left: 10px;
    -webkit-animation: fadeOut 5s ease;
    animation: fadeOut 8s 1 ease;
    opacity: 0;
}

.help-page #accordion .panel-default>a>div>h4 {
    background-image: url('assets/img/chevron-down.svg') !important;
    background-size: 40px;
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 50px !important;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    98% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    98% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes heightlight {
    0% {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    70% {
        -webkit-box-shadow: 0 0 0 .25rem rgba(150, 94, 55, .35);
        box-shadow: 0 0 0 .25rem rgba(150, 94, 55, .35);
    }

    100% {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

@keyframes heightlight {
    0% {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    70% {
        -webkit-box-shadow: 0 0 0 .25rem rgba(150, 94, 55, .35);
        box-shadow: 0 0 0 .25rem rgba(150, 94, 55, .35);
    }

    100% {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}


@-webkit-keyframes jiggle {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    5% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    10% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    15% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    20% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    25% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    30% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    35% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    40% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    45% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    55% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    60% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    65% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    70% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }

    75% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }

    80% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }

    85% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }

    90% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }

    95% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes jiggle {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    5% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    10% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    15% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    20% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    25% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    30% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    35% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    40% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    45% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    55% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    60% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    65% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    70% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }

    75% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }

    80% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }

    85% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }

    90% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }

    95% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

.modal {
    z-index: 99999;
}

.modal-open #main-nav,
.modal-open #secondary-nav,
.modal-open footer {
    z-index: 999 !important;
}

@media screen and (min-width: 841px) {

    #side-nav,
    #main-nav,
    #secondary-nav,
    .msg-bottom,
    footer {
        right: calc((100% - 840px) / 2) !important;
        left: auto !important;
    }

    .undo-playdate-alert {
        right: calc((100% - 820px) / 2) !important;
        left: auto !important;
    }

    .dogtail {
        right: calc(((100vw - 840px) / 2) + 20px);
    }

}

@media screen and (max-width: 575px) {

    .home-page .card,
    .results-page .card,
    .notifications-page .card {
        text-align: center !important;
    }

    .home-page .card-img-right,
    .results-page .card-img-right,
    .notifications-page .card-img-right,
    .home-page .card-body>*,
    .results-page .card-body>*,
    .notifications-page .card-body>* {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .home-page .card-img-right,
    .results-page .card-img-right,
    .notifications-page .card-img-right {
        margin-top: 15px;
    }
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 20px;
    }
}


/*wintom*/
.msg-page img {
    max-width: 100%;
    border-radius: 100%
}

.chat-page {
    padding: 0 0 50px 0;
}

.msg-inbox {
    padding-bottom: 20px;
}

.msg-page {
    margin-top: 25px;
}

.received-chats-img {
    display: inline-block;
    width: 30px;
    float: left;
}

.received-msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: calc(100% - 30px);
}

.received-msg-inbox {
    width: 60%;
}

.received-msg-inbox p {
    background: #efff;
    border-radius: 10px;
    color: #646464;
    font-size: 17px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.time {
    color: #777;
    display: block;
    font-size: 12px;
    margin: 8px 0 0
}

.outgoing-chats {
    overflow: hidden;
    margin: 26px 0;
}

.outgoing-chats-msg p {
    background: #965e37;
    color: #fff;
    border-radius: 10px;
    font-size: 17px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.outgoing-msg {
    width: calc(100% - 40px);
}

.outgoing-chats-msg {
    float: left;
    width: 60%;
    margin-left: 40%;
}

.outgoing-chats-img {
    display: inline-block;
    width: 30px;
    float: right;
}

.msg-bottom {
    position: relative;
    height: 10%;
    background-color: #965e37;
}

.input-group {
    float: right;
    padding: 11px;
    background-color: #fff;
}


.from-control {
    border: relative;
    border-radius: 20px !important;
}

.input-group.fa {
    color: #965e37;
    float: right;
}

.bottom-icons {
    float: left;
    margin-top: 17px;
    width: 20% !important;
    margin-left: 22px;
}

.bottom-icons .fa {
    color: #000000;
    padding: 5px;

}

.from-control:focus {
    border-color: none !important;
    box-shadow: none !important;
    border-radius: 40px !important;
}

/* FAQ styles for help page */
.accordion-section .panel-default>.panel-heading {
    border: 0;
    background: white;
    padding: 0;
}

.accordion-section .panel-default .panel-title a {
    display: block;
    font-style: italic;
    font-size: 1.5rem;
}

.accordion-section .panel-default .panel-title a:after {
    font-family: 'FontAwesome';
    font-style: normal;
    font-size: 3rem;
    content: "\f106";
    color: #965e37;
    float: right;
    margin-top: -12px;
}

.accordion-section .panel-default .panel-title a.collapsed:after {
    content: "\f107";
}

.accordion-section .panel-default .panel-body {
    font-size: 1.2rem;
}

/*wintom*/