main {
    max-width: 840px;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    margin: 0 auto;
    position: relative;
    background: rgba(0, 0, 0, .05);
    padding-top: 64px;
}

#side-nav,
#main-nav {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 840px;
}

#main-nav {
    width: 100vw;
    z-index: 9999;
    border-bottom: 1px solid #ced4da;
}

#right-nav a {
    font-size: 2em;
}

#open-nav,
#close-nav {
    cursor: pointer;
}

.sidenav {
    height: 100vh;
    width: 0;
    z-index: 99999;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: rgba(255, 255, 255, 1);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
    padding: 0 25px;
    color: #FFFFFF;
    z-index: 9;
}

.sidenav form {
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9;
}

.sidenav .form-control::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

#main {
    padding: 20px 0 0;
}


.custom-bootstrap-slider {
    padding: 10px;
}

.custom-bootstrap-slider .slider {
    width: 100% !important;
}

.custom-bootstrap-slider .slider-selection {
    background-color: #FFF !important;
    box-shadow: none !important;
    border: 1px solid #ced4da;
}

.custom-bootstrap-slider .slider-handle,
.custom-bootstrap-slider .tooltip-inner {
    background-image: none !important;
    background-color: #007bff !important;
}

.custom-bootstrap-slider .bs-tooltip-auto[x-placement^="top"] .arrow::before,
.custom-bootstrap-slider .bs-tooltip-top .arrow::before {
    border-top-color: #007bff !important;
}

.notifications {
    position: relative;
}

.notifications-badge {
    position: absolute;
    top: -1px;
    left: 17px;
    z-index: 99;
    color: #fff;
    background-color: #6c757d;
    width: 26px;
    height: 26px;
    font-size: 14px;
    text-align: center;
    line-height: 26px;
    font-weight: bold;
    border-radius: 50%;
}

footer {
    margin-bottom: 70px;
}

#datetimepicker .ui-datepicker {
    margin: 0 auto;
    width: 100%;
}

#datetimepicker .ui-state-highlight,
#datetimepicker .ui-widget-content .ui-state-highlight,
#datetimepicker .ui-widget-header .ui-state-highlight {
    border: 1px solid #007bff;
    background: #649bd5;
    color: #fff;
}

.dogtail {
    border-radius: 50%;
    border: 5px solid #964921;
    width: 85px;
    height: 85px;
    display: block;
    overflow: hidden;
    position: fixed;
    bottom: 70px;
    right: 20px;
    z-index: 99;
}

.modal {
    z-index: 99999;
}

@media screen and (min-width: 841px) {

    #side-nav,
    #main-nav {
        right: calc((100vw - 840px) / 2);
    }

    .dogtail {
        right: calc(((100vw - 840px) / 2) + 20px);
    }

}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 20px;
    }
}


/*wintom*/
.msg-page img {
    max-width: 100%;
    border-radius: 100%
}

.chat-page {
    padding: 0 0 50px 0;
}

.msg-inbox {
    padding-bottom: 20px;
}

.msg-page {
    margin-top: 25px;
}

.received-chats-img {
    display: inline-block;
    width: 30px;
    float: left;
}

.received-msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: calc(100% - 30px);
}

.received-msg-inbox {
    width: 60%;
}

.received-msg-inbox p {
    background: #efff;
    border-radius: 10px;
    color: #646464;
    font-size: 17px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.time {
    color: #777;
    display: block;
    font-size: 12px;
    margin: 8px 0 0
}

.outgoing-chats {
    overflow: hidden;
    margin: 26px 0;
}

.outgoing-chats-msg p {
    background: #007bff;
    color: #fff;
    border-radius: 10px;
    font-size: 17px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.outgoing-msg {
    width: calc(100% - 40px);
}

.outgoing-chats-msg {
    float: left;
    width: 60%;
    margin-left: 40%;
}

.outgoing-chats-img {
    display: inline-block;
    width: 30px;
    float: right;
}

.msg-bottom {
    position: relative;
    height: 10%;
    background-color: #007bff;
}

.input-group {
    float: right;
    padding: 11px;
    border-radius: 20px;
    background-color: #fff;
}


.from-control {
    border: relative;
    border-radius: 20px !important;
}

.input-group.fa {
    color: #007bff;
    float: right;
}

.bottom-icons {
    float: left;
    margin-top: 17px;
    width: 20% !important;
    margin-left: 22px;
}

.bottom-icons .fa {
    color: #000000;
    padding: 5px;

}

.from-control:focus {
    border-color: none !important;
    box-shadow: none !important;
    border-radius: 40px !important;
}

/*wintom*/